<!-- page head section starts -->
<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<!-- page head section end -->

<!-- signup page start -->
<section class="login-hero-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-10 m-auto">
                <div class="login-data">
                    <form class="otp-form">
                        <h2 class="mb-0 dark-text">OTP</h2>
                        <h6>We have sent a verification code to</h6>
                        <h5 class="otp-number dark-text">+1 (692)52 - 95555</h5>
                        <div class="otp-box gap-sm-3 gap-2">
                            <div class="form-input mb-0">
                                <input type="text" formControlName="otp" maxlength="5"
                                    oninput="this.value = this.value?.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                    onKeyPress="if(this.value.length==5) return false;" />
                            </div>
                        </div>
                        <a [routerLink]="['/home/classic']"
                            class="btn theme-btn submit-btn w-100 rounded-2">CONTINUE</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- signup page end -->