<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Address Details</h1>
        <button type="button" class="btn-close" (click)="modalServices.dismissAll()"></button>
    </div>
    <div class="modal-body">
        <form class="row g-3" [formGroup]="myGroup">
            <div class="col-md-6">
                <label for="inputFirstname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="inputFirstname" formControlName="first_name" placeholder="Enter your fist name">
            </div>
            <div class="col-md-6">
                <label for="inputLastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="inputLastname" formControlName="last_name" placeholder="Enter your last name">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" formControlName="address" placeholder="Enter your address">
            </div>

            <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="inputCity" formControlName="city" placeholder="Enter your city">
            </div>
            <div class="col-md-6">
                <label for="inputCountry" class="form-label">Country</label>
                <input type="text" class="form-control" id="inputCountry" formControlName="country" placeholder="Enter your country">
            </div>
            <div class="col-md-8">
                <label for="inputPhone" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" id="inputPhone" formControlName="phone_number" placeholder="Enter your number">
            </div>
            <div class="col-md-4">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="inputZip" formControlName="zip" placeholder="Enter your zip">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn gray-btn mt-0" (click)="modalServices.dismissAll()">CANCEL</a>
        <a href="javascript:void(0)" class="btn theme-btn mt-0">SUBMIT</a>
    </div>
</div>