<div class="modal-content">
    <div class="container">
        <div class="filter-header">
            <h5 class="title">Custom Food</h5>
            <a href="javascript:void(0)" class="btn-close"  (click)="modalServices.dismissAll()"></a>
        </div>
        <div class="filter-body">
            <div class="filter-title">
                <h5 class="fw-medium dark-text">Choose Size</h5>
            </div>
            <ul class="filter-list">
                <li>
                    <h6 class="product-size">Size S</h6>
                    <div class="form-check product-price">
                        <label class="form-check-label" for="reverseCheck1">$18</label>
                        <input class="form-check-input" type="checkbox" value="" id="reverseCheck1" />
                    </div>
                </li>
                <li>
                    <h6 class="product-size">Size M</h6>
                    <div class="form-check product-price">
                        <label class="form-check-label" for="reverseCheck1">$20</label>
                        <input class="form-check-input" type="checkbox" id="reverseCheck2" checked />
                    </div>
                </li>
                <li>
                    <h6 class="product-size">Size L</h6>
                    <div class="form-check product-price">
                        <label class="form-check-label" for="reverseCheck1">$22</label>
                        <input class="form-check-input" type="checkbox" value="" id="reverseCheck3" />
                    </div>
                </li>
            </ul>

            <div class="filter-title">
                <h5 class="fw-medium dark-text">Choose Size</h5>
            </div>
            <ul class="filter-list border-0">
                <li>
                    <h6 class="product-size">Chili sauce</h6>
                    <div class="form-check product-price">
                        <label class="form-check-label" for="reverseCheck1">$18</label>
                        <input class="form-check-input" type="checkbox" value="" id="reverseCheck4" />
                    </div>
                </li>
                <li>
                    <h6 class="product-size">Mustard</h6>
                    <div class="form-check product-price">
                        <label class="form-check-label" for="reverseCheck1">$20</label>
                        <input class="form-check-input" type="checkbox" value="" id="reverseCheck5"
                            checked />
                    </div>
                </li>

                <li>
                    <h6 class="product-size">Special dipping sauce</h6>
                    <div class="form-check product-price">
                        <label class="form-check-label" for="reverseCheck1">$22</label>
                        <input class="form-check-input" type="checkbox" value="" id="reverseCheck6" />
                    </div>
                </li>
            </ul>
        </div>

        <div class="filter-footer">
            <a href="javascript:void(0)" class="btn theme-btn add-btn w-100 mt-0" (click)="modalServices.dismissAll()">Apply</a>
        </div>
    </div>
</div>