<!-- page head section starts -->
<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<!-- page head section end -->

<!-- blog section stars -->
<section class="section-b-space">
    <div class="container">
        <div class="blog-boxs">
            <div class="row g-4">
                <div class="col-lg-3 order-lg-0 order-1">
                    <app-blog-filter [blog]="blog"></app-blog-filter>
                </div>
                <div class="col-lg-9">
                    <div class="row g-4 ratio2_3">
                        @if (blog) {
                        @for (item of blogDetails| slice: (currentPage - 1) * pageSize: currentPage * pageSize; track item) {
                        <div class="col-12">
                            <div class="blog-box list-box">
                                <div class="blog-image" [routerLink]="['/blog/blog-details', item.slug_url]">
                                    <div class="bg-size"
                                        [ngStyle]="{'background-image': 'url(' +  item.image_url  + ')'}">
                                        <img class="bg-img img" [src]="item.image_url" alt="blog1"
                                            style="display: none;">
                                    </div>
                                </div>
                                <div class="blog-details border-0">
                                    <h6 class="mt-0">{{item.title}}</h6>
                                    <a [routerLink]="['/blog/blog-details', item.slug_url]">
                                        <h5>{{item.sub_title}}</h5>
                                    </a>
                                    <p> {{item.description}}
                                    </p>
                                    <h6>{{item.date}}</h6>
                                </div>
                            </div>
                        </div>
                        }
                        }
                    </div>
                    <nav class="custom-pagination">
                        <ul class="pagination justify-content-center">
                            @if (blogDetails && blogDetails.length) {
                            <ngb-pagination [collectionSize]="blogDetails.length" [(page)]="currentPage"
                                [pageSize]="pageSize"></ngb-pagination>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog section end -->