<ul class="card-list">
    <li>
        <div class="form-check form-check-reverse">
            <label class="form-check-label" for="flexRadioDefault1">
                <img class="img-fluid img" src="assets/images/icons/svg/paypal.svg" alt="mastercard">
                <h6 class="card-name dark-text">Pay Pal</h6>
            </label>
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
        </div>
    </li>
    <li>
        <div class="form-check form-check-reverse">
            <label class="form-check-label" for="flexRadioDefault2">
                <img class="img-fluid img" src="assets/images/icons/svg/apple-pay.svg" alt="mastercard">
                <h6 class="card-name dark-text">Apple Pay</h6>
            </label>
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        </div>
    </li>
    <li>
        <div class="form-check form-check-reverse">
            <label class="form-check-label" for="flexRadioDefault3">
                <img class="img-fluid img" src="assets/images/icons/svg/google-pay.svg" alt="mastercard">
                <h6 class="card-name dark-text">Google Pay</h6>
            </label>
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
        </div>
    </li>
    <li>
        <div class="form-check form-check-reverse">
            <label class="form-check-label" for="flexRadioDefault4">
                <img class="img-fluid img" src="assets/images/icons/svg/cash.svg" alt="mastercard">
                <h6 class="card-name dark-text">Cash on Delivery</h6>
            </label>
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
        </div>
    </li>
</ul>