<header class="header2">
    <div class="container-fluid px-0">
        <nav class="navbar navbar-expand-lg p-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon">
                    <i class="ri-menu-line"></i>
                </span>
            </button>
            <a href="javascript:void()" class="sidebar-logo d-lg-none d-inline-block">
                <img class="img-fluid logo" src="assets/images/svg/logo2.svg" alt="logo">
            </a>
            <form class="form_search rounded-0" role="form">
                <input id="search-skeleton-autocomplete" type="search"
                    placeholder="Search any Device or Gadgets..." class="nav-search nav-search-field">
            </form>
            <div class="location-flex">
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#location"
                    class="btn theme-btn location-btn mt-0 ms-3 d-flex align-content-center gap-1 rounded-2">
                    <i class="ri-map-pin-line"></i>
                    <span>201 World Way, California</span>
                </a>
                <div class="nav-option order-md-2">
                    <div class="dropdown-button">
                        <div class="cart-button">
                            <span>5</span>
                            <i class="ri-shopping-cart-line cart-bag"></i>
                        </div>
                    </div>
                    <div class="profile-part dropdown-button order-md-2">
                        <img class="img-fluid profile-pic" src="assets/images/icons/p5.png" alt="profile">
                        <div>
                            <h6 class="fw-normal">Hi, Mark Jecno</h6>
                            <h5 class="fw-medium">My Account</h5>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="shop-sidebar-demo">
    <div class="shop-sidebar">
        <a href="javascript:void()" class="sidebar-logo d-lg-block d-none">
            <img class="img-fluid logo" src="assets/images/food-point.png" alt="logo">
        </a>
        <ul class="placeholder-glow">
            <li class="d-lg-none d-block sidebar-back">
                <a href="javascript:void(0)">
                    <div>
                        <div class="text-start">
                            <i class="fa fa-angle-left pe-2" aria-hidden="true"></i>
                            Back
                        </div>
                    </div>
                </a>
            </li>
            <li class="active">
                <a href="javascript:void(0)">
                    <span class="placeholder col-1"></span>
                    <span class="placeholder col-3"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span class="placeholder col-1"></span>
                    <span class="placeholder col-5"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span class="placeholder col-1"></span>
                    <span class="placeholder col-6"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span class="placeholder col-1"></span>
                    <span class="placeholder col-8"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span class="placeholder col-1"></span>
                    <span class="placeholder col-4"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span class="placeholder col-1"></span>
                    <span class="placeholder col-7"></span>
                </a>
            </li>

            <li>
                <a href="javascript:void(0)">
                    <span class="placeholder col-1"></span>
                    <span class="placeholder col-2"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span class="placeholder col-1"></span>
                    <span class="placeholder col-5"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span class="placeholder col-1"></span>
                    <span class="placeholder col-3"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span class="placeholder col-1"></span>
                    <span class="placeholder col-7"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span class="placeholder col-1"></span>
                    <span class="placeholder col-6"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span class="placeholder col-1"></span>
                    <span class="placeholder col-8"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="shop-body">
        <div class="top-section">
            <div class="banner-content placeholder-glow w-50">
                <div>
                    <h4 class="placeholder col-5"></h4>
                    <h2 class="my-sm-3 my-2 placeholder col-8"></h2>
                </div>
            </div>
        </div>
        <div class="categories-section section-md-t-space">
            <div>
                <div class="title placeholder-glow">
                    <span class="placeholder col-md-2 col-5"></span>
                    <p class="placeholder col-5 w-50"></p>
                </div>
                <div class="theme-arrow">
                    <div class="swiper categories-slider-2 categories-style category-inline">
                        <div class="swiper-wrapper placeholder-glow">
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="food-categories">
                                    <span class="placeholder loader-custom-height"></span>
                                    <h4 class="placeholder col-6"></h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popular-restaurant section-md-t-space section-md-b-space">
            <div class="title placeholder-glow">
                <span class="placeholder col-md-2 col-5"></span>
                <p class="placeholder col-5 w-50"></p>
            </div>
            <div class="theme-arrow">
                <div class="swiper popular-slider">
                    <div class="swiper-wrapper placeholder-glow">
                        <div class="swiper-slide">
                            <div class="vertical-product-box product-style-2">
                                <div class="vertical-product-box-img placeholder"></div>
                                <div class="vertical-product-body">
                                    <div class="brand-label"></div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h4 class="vertical-product-title placeholder col-11"></h4>
                                    </div>
                                    <ul class="details-list">
                                        <li>
                                            <span class="placeholder icon"></span>
                                            <span class="placeholder col-8"></span>
                                        </li>
                                        <li>
                                            <span class="placeholder icon"></span>
                                            <span class="placeholder col-5"></span>
                                        </li>
                                        <li class="marquee-discount">
                                            <span class="placeholder icon"></span>
                                            <span class="placeholder col-10"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="vertical-product-box product-style-2">
                                <div class="vertical-product-box-img placeholder"></div>
                                <div class="vertical-product-body">
                                    <div class="brand-label"></div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h4 class="vertical-product-title placeholder col-11"></h4>
                                    </div>
                                    <ul class="details-list">
                                        <li>
                                            <span class="placeholder icon"></span>
                                            <span class="placeholder col-8"></span>
                                        </li>
                                        <li>
                                            <span class="placeholder icon"></span>
                                            <span class="placeholder col-5"></span>
                                        </li>
                                        <li class="marquee-discount">
                                            <span class="placeholder icon"></span>
                                            <span class="placeholder col-10"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="vertical-product-box product-style-2">
                                <div class="vertical-product-box-img placeholder"></div>
                                <div class="vertical-product-body">
                                    <div class="brand-label"></div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h4 class="vertical-product-title placeholder col-11"></h4>
                                    </div>
                                    <ul class="details-list">
                                        <li>
                                            <span class="placeholder icon"></span>
                                            <span class="placeholder col-8"></span>
                                        </li>
                                        <li>
                                            <span class="placeholder icon"></span>
                                            <span class="placeholder col-5"></span>
                                        </li>
                                        <li class="marquee-discount">
                                            <span class="placeholder icon"></span>
                                            <span class="placeholder col-10"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="vertical-product-box product-style-2">
                                <div class="vertical-product-box-img placeholder"></div>
                                <div class="vertical-product-body">
                                    <div class="brand-label"></div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h4 class="vertical-product-title placeholder col-11"></h4>
                                    </div>
                                    <ul class="details-list">
                                        <li>
                                            <span class="placeholder icon"></span>
                                            <span class="placeholder col-8"></span>
                                        </li>
                                        <li>
                                            <span class="placeholder icon"></span>
                                            <span class="placeholder col-5"></span>
                                        </li>
                                        <li class="marquee-discount">
                                            <span class="placeholder icon"></span>
                                            <span class="placeholder col-10"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="vertical-product-box product-style-2">
                                <div class="vertical-product-box-img placeholder"></div>
                                <div class="vertical-product-body">
                                    <div class="brand-label"></div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h4 class="vertical-product-title placeholder col-11"></h4>
                                    </div>
                                    <ul class="details-list">
                                        <li>
                                            <span class="placeholder icon"></span>
                                            <span class="placeholder col-8"></span>
                                        </li>
                                        <li>
                                            <span class="placeholder icon"></span>
                                            <span class="placeholder col-5"></span>
                                        </li>
                                        <li class="marquee-discount">
                                            <span class="placeholder icon"></span>
                                            <span class="placeholder col-10"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
