<!-- mobile fix menu end -->
<div class="mobile-menu d-md-none d-block mobile-cart">
    <ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/home/classic']" class=" menu-box">
                <i class="ri-home-4-line"></i>
                <span>Home</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/pages/wishlist']" class="menu-box">
                <i class="ri-heart-3-line"></i>
                <span>Wishlist</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/order/checkout']" class="menu-box">
                <i class="ri-shopping-cart-2-line"></i>
                <span>Cart</span>
            </a>
        </li>
        <li routerLinkActive="active"> <a [routerLink]="['/account/change-profile']" class="menu-box">
                <i class="ri-user-line"></i>
                <span>Profile</span>
            </a>
        </li>
    </ul>
</div>
<!-- mobile fix menu end -->