<div class="review-section">
    <ul class="review-box-list">
        @for (item of review; track item) {
        <li>
            <div class="review-box">
                <div class="review-head">
                    <div class="review-image">
                        <img class="img-fluid img" [src]="item.image_url"
                            alt="p1">
                    </div>
                    <div class="d-flex align-items-center justify-content-between w-100">
                        <div>
                            <h6 class="reviewer-name">{{item.user_name}}</h6>
                            @if(item.rating){
                                <ul class="rating-star">
                                    <li>
                                        <i class="ri-star-fill star"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill star"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill star"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill star"></i>
                                    </li>
                                    <li>
                                        <i class="ri-star-fill star"></i>
                                    </li>
                                </ul>
                            }
                        </div>
                        <div>
                            <h6>{{item.upload_time}} month ago</h6>
                        </div>
                    </div>
                </div>
                <div class="review-content">
                    <h6>{{item.title}}</h6>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </li>
    }
    </ul>
</div>