<!-- <form class="row g-3">
    <div class="col-12">
        <label for="inputCardnumber" class="form-label">Card Number</label>
        <input type="number" class="form-control" id="inputCardnumber"
            placeholder="Enter your card number">
    </div>
    <div class="col-12">
        <label for="inputCardholdername" class="form-label">Card Holder
            Name</label>
        <input type="text" class="form-control" id="inputCardholdername"
            placeholder="Enter Holder name">
    </div>
    <div class="col-sm-6">
        <label for="inputAddress" class="form-label">Exp. Date</label>
        <input type="date" class="form-control" id="inputAddress"
            placeholder="Enter date">
    </div>

    <div class="col-sm-6">
        <label for="inputCity" class="form-label">CVV</label>
        <input type="number" class="form-control" id="inputCity"
            placeholder="Enter your cvv">
    </div>
    <div class="buttons">
        <a [routerLink]="['/order/payment']" class="btn gray-btn mt-0">CANCEL</a>
        <a [routerLink]="['/order/payment']" class="btn theme-btn mt-0">SUBMIT</a>
    </div>
</form>
<ul class="card-list">
    <li>
        <div class="form-check form-check-reverse">
            <label class="form-check-label" for="flexRadioDefault01">
                <img class="img-fluid img"
                    src="assets/images/icons/svg/mastercard.svg"
                    alt="mastercard">
                <h6 class="card-name dark-text">Mastercard <span>**** ****
                        4586 </span> | Expires on <span> 12/24</span></h6>
            </label>
            <input class="form-check-input" type="radio"
                name="flexRadioDefault" id="flexRadioDefault01" checked>
        </div>
    </li>
    <li>
        <div class="form-check form-check-reverse">
            <label class="form-check-label" for="flexRadioDefault02">
                <img class="img-fluid img"
                    src="assets/images/icons/svg/mastercard.svg"
                    alt="mastercard">
                <h6 class="card-name dark-text">Mastercard <span>**** ****
                        4586 </span> | Expires on <span> 12/24</span></h6>
            </label>
            <input class="form-check-input" type="radio"
                name="flexRadioDefault" id="flexRadioDefault02" checked>
        </div>
    </li>
</ul> -->



<img src="assets/images/QR.png" width="100%">