<div class="address-section {{class}}">
    <app-title [type]="type" [title]="title" [subTitle]="subTitle" [animation]="true"></app-title>
    <div class="row g-3">
        @if(data){
        @for (item of data; track item) {
        <div class="col-md-6">
            <div class="address-box white-bg">
                <div class="address-title">
                    <div class="d-flex align-items-center gap-2">
                        <i class="{{item.class}}"></i>
                        <h6>{{item.title}}</h6>
                    </div>
                    <a (click)="addEditAddress(item.title)" class="edit-btn">Edit</a>
                </div>
                <div class="address-details">
                    <h6>
                        {{item.address}}
                    </h6>
                    <h6 class="phone-number">{{item.phone_number}}</h6>
                    @if(deliver){
                    <div class="option-section">
                        <a [routerLink]="['/order/payment']" class="btn gray-btn rounded-2 mt-0">Deliver Here</a>
                    </div>
                    }
                </div>
            </div>
        </div>
        }
        }
        <div class="col-md-6">
            <div class="address-box white-bg new-address-box white-bg">
                <a (click)="addEditAddress()" class="btn new-address-btn theme-outline rounded-2 mt-0">Add New
                    Address</a>
            </div>
        </div>
    </div>
</div>