<!-- page head section end -->
<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<!-- page head section end -->
<!-- profile section starts -->
<section class="profile-section section-b-space">   
    <div class="container">
        <div class="row g-3">
            <div class="col-lg-3">
                <app-profile-section></app-profile-section>
            </div>
            <div class="col-lg-9">
                <div class="change-profile-content">
                    <app-title [type]="'simple'" [title]="'Change Profile'" [animation]="true"></app-title>
                    <ul class="profile-details-list">
                        @for (item of user; track item) {
                        <li>
                            <div class="profile-content">
                                <div class="d-flex align-items-center gap-sm-2 gap-1">
                                    <i class="{{item.icon}}"></i>
                                    <span>{{item.label}} :</span>
                                </div>
                                <h6>{{item.value}}</h6>
                            </div>
                            <a (click)="openModal(item.label)" class="btn theme-outline">{{ item.label === 'Name'
                                ?'Edit':'Change'}}</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- profile section end -->