<!-- page head section starts -->
<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<!-- page head section end -->

<!-- 404 section starts -->
<section class="error-section pt-0">
    <div class="container">
        <div class="banner-content text-center">
            <img class="img-fluid banner-img mx-auto" src="assets/images/404.png" alt="404">
            <p>
                The page you are looking for could not be found. The link to this
                address may be outdated or we may have moved the since you last
                bookmarked it.
            </p>
            <a [routerLink]="['/home/classic']" class="btn theme-outline d-inline-flex mx-auto">Back To Home</a>
        </div>
    </div>
</section>
<!-- 404 section end -->