<!-- page head section starts -->
<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<!-- page head section end -->

<!--  cart section starts -->
<section class="empty-cart-section section-b-space">
    <div class="container">
        <div class="empty-cart-image">
            <div>
                <img class="img-fluid img" src="assets/images/empty-cart.svg" alt="empty-cart">
                <h2>It’s empty in your cart</h2>
                <h5>To browse more restaurants, visit the main page.</h5>
                <a [routerLink]="['/home/classic']" class="btn theme-outline restaurant-btn">see restaurant near you</a>
            </div>
        </div>
    </div>
</section>
<!-- cart section end -->