@if(type === 'basic'){
<ul class="home-features-list d-md-flex d-none">
    @for (item of serviceData; track item) {
    <li>
        <div class="home-features-box">
            <img class="img-fluid icon" [src]="item.svg" alt="routing">
            <h6>{{item.title}}</h6>
        </div>
    </li>
    }
</ul>
}

@if(type === 'simple'){
<div class="container">
    <div class="home-features-list row gy-xl-0 gy-md-4 gy-2 row-cols-xl-4 row-cols-lg-3 row-cols-sm-2">
        @for (item of homeFour; track item) {
        <div>
            <div class="home-features-box">
                <img class="img-fluid icon" [src]="item.svg" alt="routing">
                <div class="home-features-content">
                    <h5>{{item.title}}</h5>
                    <h6>{{item.description}}</h6>
                </div>
            </div>
        </div>
        }
    </div>
</div>
}