<!-- page head section starts -->
<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<!-- page head section end -->

<!-- signin page start -->
<section class="login-hero-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-10 m-auto">
                <div class="login-data">
                    <form class="auth-form" [formGroup]="loginForm">
                        <h2>Sign in</h2>
                        <h5>
                            or
                            <a [routerLink]="['/pages/sign-up']"><span class="theme-color">create an a
                                    account</span></a>
                        </h5>
                        <div class="form-input">
                            <input type="tel" class="form-control" placeholder="Enter your number"
                                formControlName="number">
                            <i class="ri-phone-line"></i>
                        </div>
                        <div class="form-input">
                            <input type="password" class="form-control" placeholder="Enter your password"
                                formControlName="password">
                            <i class="ri-lock-password-line"></i>
                        </div>
                        <a [routerLink]="['/home/classic']" class="btn theme-btn submit-btn w-100 rounded-2"
                            (click)="login()">CONTINUE</a>
                        <p class="fw-normal content-color">
                            By creating an account, I accept the
                            <span class="fw-semibold">
                                Terms & Conditions & Privacy Policy</span>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- signin page end -->