<div class="order-summery-section sticky-top">
    <div class="checkout-detail">
        <h3 class="fw-semibold dark-text checkout-title">Cart Items</h3>
        <div class="order-summery-section mt-0">
            @if(cartItem){
            <div class="checkout-detail p-0">
                <ul>
                    @for (item of cartItem.data; track item) {
                    <li>
                        <div class="horizontal-product-box">
                            <div class="product-content">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5>{{item.title}}</h5>
                                    <h6 class="product-price">${{item.totalPrice}}</h6>
                                </div>
                                <h6 class="ingredients-text">{{item.sub_title}}</h6>
                                <div class="d-flex align-items-center justify-content-between mt-md-2 mt-1 gap-1">
                                    <h6 class="place">{{item.place}}</h6>
                                    <div class="plus-minus">
                                        <i class="ri-subtract-line sub" (click)="increaseDecrease(item.id ,-1)"></i>
                                        <input type="number" value="{{item.qty}}">
                                        <i class="ri-add-line add" (click)="increaseDecrease(item.id, 1)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    }
                </ul>
                <h5 class="bill-details-title fw-semibold dark-text">Bill Details</h5>
                <div class="sub-total">
                    <h6 class="content-color fw-normal">Sub Total</h6>
                    <h6 class="fw-semibold">${{cartItem.sub_total}}</h6>
                </div>
                <div class="sub-total">
                    <h6 class="content-color fw-normal">Delivery Charge (2 kms)</h6>
                    <h6 class="fw-semibold success-color">Free</h6>
                </div>
                <div class="sub-total">
                    <h6 class="content-color fw-normal">Discount (10%)</h6>
                    <h6 class="fw-semibold">${{cartItem.discount_price}}</h6>
                </div>
                <div class="grand-total">
                    <h6 class="fw-semibold dark-text">To Pay</h6>
                    <h6 class="fw-semibold amount">${{cartItem.to_pay}}</h6>
                </div>
            </div>
            }
        </div>
        <a [routerLink]="['/order/checkout']" class="btn theme-btn restaurant-btn w-100 rounded-2">{{buttonTitle}}</a>
        <img class="dots-design" src="assets/images/svg/dots-design.svg" alt="dots" />
    </div>
</div>