<div class="skeleton-loader" [style.display]="skeletonService.isSkeleton ? 'none' : 'block'">
    <app-skeleton-classic></app-skeleton-classic>
</div>

<!-- home section start -->
<section class="home-wrapper section-b-space overflow-hidden">
    <app-classic-home></app-classic-home>
</section>
<!-- home section end -->

<!-- categories section end  -->
@if(classicData && classicData.deal){
    <!-- today’s deal section start -->
    <section class="categories-section banner-section section-b-space nav-true">
        <img src="assets/images/scooter.png" class="scooter-img img-fluid d-md-inline-block d-none">
        <div class="container">
            <app-title [type]="'basic'" [animation]="true" [title]="'Today’s Deal'"
                [subTitle]="'Take a benefit from our latest offers.'"></app-title>
            <div class="position-relative">
                <div class="swiper banner1-slider">
                    <div class="swiper-wrapper">
                        <app-todays-deal [id]="classicData.deal" [type]="'basic'"></app-todays-deal>
                    </div>
                </div>
            </div>
        </div>
    </section>
    }
<!-- today’s deal section end -->

<!-- categories section starts -->
@if(classicData && classicData.category){
<section class="categories-section section-b-space nav-true"> 
    <div class="container">
        <app-title [type]="'basic'" [animation]="true" [title]="'Categories'"
            [subTitle]="'Browse out top categories here to discover different food cuision.'"></app-title>
        <div class="theme-arrow">
            <div class="swiper categories-slider categories-style">
                <div class="swiper-wrapper">
                    <app-categories-section [type]="'basic'" [id]="classicData.category"></app-categories-section>
                </div>
            </div>
        </div>
    </div>
</section>
}
 

<!-- popular restaurant section start -->
@if( classicData && classicData.popular_restaurants){
<!-- <section class="popular-restaurant banner-section section-b-space ratio3_2 overflow-hidden">
    <img class="img-fluid item-5" src="assets/images/svg/item5.svg" alt="item-5">
    <div class="container">
        <app-title [type]="'basic'" [animation]="true" [title]="'Popular Restaurants'"
            [subTitle]="'Find nearby popular Restaurants.'"></app-title>
        <app-product-box [type]="'basic'" [class]="'g-md-4 g-3'" [id]="classicData.popular_restaurants"></app-product-box>
    </div>
</section> -->
}
<!-- popular restaurant section end -->

<!-- Featured Restaurants section starts -->
<section class="restaurant-list banner-section section-b-space ratio3_2">
    <app-product-filter-wise-data [title]="'Featured Restaurants'" [loader]="true"></app-product-filter-wise-data>
</section>
<!-- Featured Restaurants section end -->
 
<!-- brand-four-you deal section start -->
@if(classicData && classicData.brand){
    <section class="brand-section section-b-space nav-true">
        <img class="img-fluid item-4" src="assets/images/svg/item4.svg" alt="item-4">
        <div class="container">
            <app-title [type]="'basic'" [animation]="true" [title]="'Brand For You'"
                [subTitle]="'Browse out top brands here to discover different food cuision.'"></app-title>
            <div class="position-relative">
                <div class="swiper brands-logo">
                    <div class="swiper-wrapper">
                        <app-brand-for-you [id]="classicData.brand"></app-brand-for-you>
                    </div>
                </div>
            </div>
        </div>
    </section>
    }
    <!-- brand-four-you deal section end -->


<!-- app section starts -->
<section class="app-section">
    <app-banner-section [type]="'basic'"></app-banner-section>
</section>
<!-- app section end -->