<!-- page head section starts -->
<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<!-- page head section end -->
    
<!-- c starts -->
<section class="section-b-space">
     <app-about-section [data]="aboutData"></app-about-section>
</section>
<!-- about section end -->

<!-- service section starts -->
<section class="service-box-section section-b-space">
    <app-service-section [data]="services"></app-service-section>
</section>
<!-- service section end -->

<!-- team section starts -->
<section class="section-b-space">
    <app-team-section [data]="ourTeam"></app-team-section>
</section>
<!-- team section end -->