<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Card</h1>
        <button type="button" class="btn-close" (click)="modal.dismissAll()"></button>
    </div>
    <div class="modal-body">
        <form class="row g-3" [formGroup]="myGroup">
            <div class="col-md-12">
                <label for="inputname" class="form-label">Card Holder Name</label>
                <input type="text" class="form-control" formControlName="user_name" placeholder="Enter your last name">
            </div>
            <div class="col-md-12">
                <label for="inputcardnumber" class="form-label">Card Number</label>
                <input type="tel" class="form-control" formControlName="account_number"
                    placeholder="Enter card number">
            </div>
            <div class="col-md-8">
                    <label for="inputdate" class="form-label">Exp. Date</label>
                    <input type="date" class="form-control" id="inputdate">
                </div>
                <div class="col-md-4">
                    <label for="inputcvv" class="form-label">CVV</label>
                    <input type="password" class="form-control" id="inputcvv" value="123" placeholder="Enter your cvv">
                </div>
        </form>
    </div>
    <div class="modal-footer">
        <a [routerLink]="['/account/saved-card']" class="btn gray-btn mt-0" (click)="modal.dismissAll()">CANCEL</a>
        <a [routerLink]="['/account/saved-card']" class="btn theme-btn mt-0" (click)="modal.dismissAll()">Edit
            Card</a>
    </div>
</div>

