<div class="title-box">
    <h4 class="heading">Leave a Comment<span class="bg-theme-blue"></span></h4>
</div>
<form class="theme-form mt-3">
    <div class="row g-3 g-sm-4">
        <div class="col-sm-6">
            <div class="input-box">
                <label class="form-check-label" for="name">Full Name</label>
                <input name="name" id="name" type="text" class="form-control"
                    placeholder="Your full name" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-box">
                <label class="form-check-label" for="email">Email Address</label>
                <input name="email" id="email" type="email" class="form-control"
                    placeholder="Your email" />
            </div>
        </div>
        <div class="col-12">
            <div class="input-box">
                <label class="form-check-label" for="comment">Comments</label>
                <textarea class="form-control" id="comment" cols="30" rows="5"
                    placeholder="Comment"></textarea>
            </div>
        </div>

        <div class="col-12 text-end">
            <button class="post-button btn theme-btn ">Post Comment <i
                    class="arrow"></i></button>
        </div>
    </div>
</form>