<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg p-0">
        <button class="navbar-toggler" (click)="navService.isOpen = true" (clickOutside)="navService.isOpen = false">
            <span class="navbar-toggler-icon">
                <i class="ri-menu-line"></i>
            </span>
        </button>
        <a [routerLink]="['/home/classic']" class="sidebar-logo d-lg-none d-inline-block">
            <img class="img-fluid logo" src="assets/images/svg/logo2.svg" alt="logo">
        </a>
        <form class="form_search rounded-0" role="form">
            <input id="search-autocomplete" type="search" placeholder="Search any Device or Gadgets..."
                class="nav-search nav-search-field">
        </form>
        <div class="location-flex">
            <a (click)="openLocation()" 
                class="btn theme-btn location-btn mt-0 ms-3 d-flex align-content-center gap-1 rounded-2">
                <i class="ri-map-pin-line"></i>
                <span>201 World Way, California</span>
            </a>
            <div class="nav-option order-md-2">
                <div class="dropdown-button">
                    <app-cart [routePath]="routePath"></app-cart>
                </div>
                <div class="profile-part dropdown-button order-md-2">
                    <app-my-account></app-my-account>
                </div>
            </div>
        </div>
    </nav>
</div>