<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title fw-medium" id="exampleModalToggleLabel">
            Order details
        </h5>
        <button type="button" class="btn-close" (click)="modal.dismissAll()"></button>
    </div>
    <div class="modal-body">
            <div class="order-details-box">
                <div class="order-icon">
                    <img class="img-fluid icon" [src]="data.image_url" alt="brand3">
                </div>
                <div class="order-content">
                    <h5 class="brand-name dark-text fw-medium">{{data.brand}}</h5>
                    <h6 class="order-deliver-label">Delivered</h6>
                </div>
            </div>
            <div class="delivery-address">
                <div class="d-flex align-items-center gap-2 mt-2">
                    <i class="ri-map-pin-fill theme-color"></i>
                    <p>{{data.address}}</p>
                </div>
            </div>
            <div class="delivery-on-going">
                <ul class="delivery-list">
                    <li>
                        <h6>Id Transaction</h6>
                        <h5>{{data.transaction_id}}</h5>
                    </li>
                    <li>
                        <h6>Date & Time</h6>
                        <h5>{{data.date}} <span>{{data.time}}</span></h5>
                    </li>
                </ul>
                <ul class="delivery-list">
                    <li>
                        <div class="order-address">
                            <img class="img-fluid place-icon" src="assets/images/svg/placed.svg" alt="restaurant">
                            <h5>Restaurant Address</h5>
                        </div>
                        <h6 class="delivery-place">{{data.brand}}</h6>
                    </li>
                    <li>
                        <div class="order-address">
                            <img class="img-fluid place-icon" src="assets/images/svg/user-map.svg" alt="delivery">
                            <h5>Delivery Address</h5>
                        </div>
                        <h6 class="delivery-place">{{data.delivery_address}}</h6>
                    </li>
                </ul>
            </div>
            <ul class="order-list">
             @for (items of data.product; track items) {
                 <li>
                     <div class="order-content-box">
                         <div class="d-flex align-items-center justify-content-between">
                             <h6>{{items.title}}</h6>
                             <h6>${{items.totalPrice}}</h6>
                            </div>
                            <div>
                                <p>Qty:{{items.qty}}</p>
                            </div>
                        </div>
                    </li>
                }
            </ul> 
            <div class="total-amount">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="fw-medium dark-text">Total</h6>
                    <h6 class="fw-medium dark-text">${{data.totalPrice}}</h6>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <p class="fw-normal content-color">Delivery Charge</p>
                    <p class="fw-normal content-color">Free</p>
                </div>
                <div class="grand-amount d-flex align-items-center justify-content-between">
                    <h6 class="fw-medium dark-text">Grand Total</h6>
                        <h6 class="fw-medium dark-text">${{data.totalPrice}}</h6>
                </div>
            </div>
    </div>
</div>