<!-- page head section starts -->
<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<!-- page head section end -->
<!-- order tracking section starts -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="delivery-root">
                    <div class="map" id="map">
                        <app-google-map></app-google-map>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="order-tracking-content">
                    <app-order-status-details></app-order-status-details>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- order tracking section starts -->