<div class="profile-sidebar sticky-top">
    <div class="profile-cover">
        <img class="img-fluid profile-pic" src="assets/images/icons/p5.png" alt="profile">
    </div>
    <div class="profile-name">
        <h5 class="user-name">Mark Jecno</h5>
        <h6>mark-jecno&#64;gmail.com</h6>
    </div>
    <ul class="profile-list">
        <li routerLinkActive="active">
            <i class="ri-user-3-line"></i>
            <a [routerLink]="['/account/change-profile']">Change Profile</a>
        </li>
        <li routerLinkActive="active">
            <i class="ri-shopping-bag-3-line"></i>
            <a [routerLink]="['/account/my-order']">My Order</a>
        </li>
        <li routerLinkActive="active">
            <i class="ri-map-pin-line"></i>
            <a [routerLink]="['/account/saved-address']">Saved Address</a>
        </li>
        <li routerLinkActive="active">
            <i class="ri-bank-card-line"></i>
            <a [routerLink]="['/account/saved-card']">Saved Card</a>
        </li>
        <li routerLinkActive="active">
            <i class="ri-question-line"></i>
            <a [routerLink]="['/pages/faqs']">Help</a>
        </li>
        <li routerLinkActive="active">
            <i class="ri-settings-3-line"></i>
            <a [routerLink]="['/account/settings']">Setting</a>
        </li>
        <li routerLinkActive="active">
            <i class="ri-logout-box-r-line"></i>
            <a (click)="logOut()">Log Out</a>
        </li>
    </ul>
</div>