<!-- page head section starts -->
<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<!-- page head section end -->

<!-- blog section stars -->
<section class="section-b-space">
    <div class="container">
        <div class="blog-boxs">
            <div class="row g-4">
                <div class="col-lg-3 order-lg-0 order-1">
                    <app-blog-filter [blog]="blog"></app-blog-filter>
                </div>
                <div class="col-lg-9 ratio3_2">
                        @if(blog){
                        <app-details-blog [blog]="blog.blogDetails"></app-details-blog>
                        }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog section end -->