<div class="social-media-part">
    <ul class="social-icon">
        <li>
            <a href="{{footer.social_media.facebook}}">
                <i class="ri-facebook-fill icon"></i>
            </a>
        </li>
        <li>
            <a href="{{footer.social_media.twitter}}">
                <i class="ri-twitter-fill icon"></i>
            </a>
        </li>
        <li>
            <a href="{{footer.social_media.linkedin}}">
                <i class="ri-linkedin-fill icon"></i>
            </a>
        </li>
        <li>
            <a href="{{footer.social_media.instagram}}">
                <i class="ri-instagram-fill icon"></i>
            </a>
        </li>
        <li>
            <a href="{{footer.social_media.youtube}}">
                <i class="ri-youtube-fill icon"></i>
            </a>
        </li>
    </ul>
</div>