<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title">
            <h5 class="fw-semibold">Select a Location</h5>
            <button type="button" class="btn-close" (click)="modalServices.dismissAll()"></button>
        </div>
    </div>
    <div class="modal-body">
        <div class="search-section">
            <form class="form_search" role="form">
                <input type="search" placeholder="Search Location" class="nav-search nav-search-field">
            </form>
        </div>
        <a href="javascript:void(0);" class="current-location">
            <div class="current-address">
                <i class="ri-focus-3-line focus"></i>
                <div>
                    <h5>Use current-location</h5>
                    <h6>Wellington St., Ottawa, Ontario, Canada</h6>
                </div>
            </div>
            <i class="ri-arrow-right-s-line arrow"></i>
        </a>
        <h5 class="mt-sm-3 mt-2 fw-medium recent-title dark-text">Recent Location</h5>
        <a href="javascript:void(0);" class="recent-location">
            <div class="recant-address">
                <i class="ri-map-pin-line theme-color"></i>
                <div>
                    <h5>Bayshore</h5>
                    <h6>kingston St., Ottawa, Ontario, Canada</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn gray-btn" (click)="modalServices.dismissAll()">Close</a>
        <a href="javascript:void(0);" class="btn theme-btn mt-0" (click)="modalServices.dismissAll()">Save</a>
    </div>
</div>