<div class="row g-lg-3 g-2">
    @if (menuList) {
    <div class="col-lg-4">
        <div class="product-sidebar sticky-top" [class.show]="orderService.mobileMenu">
            <div class="sidebar-search">
                <input type="text" placeholder="Search Dishes..">
                <i class="ri-search-line"></i>
            </div>
            <nav id="navbar" class="product-items pb-0" [ngbScrollSpyMenu]="spy">
                <ul class="nav nav-pills">
                    @for (item of menuList; track item) {
                    <li>
                        <a class="nav-link" role="button" [ngbScrollSpyItem]="item.title">{{item.title}}</a>
                    </li>
                    <li>
                        <nav class="nav nav-pills sub-nav-pills">
                            @for(childMenu of item.children; track childMenu){
                            <ul>
                                <li>
                                    <a class="nav-link" role="button" [ngbScrollSpyItem]="childMenu.title"
                                        parent="{{ item.title }}">{{childMenu.title}}</a>
                                </li>
                            </ul>
                            }
                        </nav>
                    </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-lg-8">
        <div ngbScrollSpy #spy="ngbScrollSpy" class="product-box-section section-b-space" 
            [style.height]="(menuList.length * 187)+'px'">
            <div class="scrollspy-example-2">
                <div class="product-details-box-list">
                    @for (item of menuList; track item) {
                    <div class="product-details-box-title" [ngbScrollSpyFragment]="item.title">{{item.title}}</div>
                    @for (children of item.children; track children) {
                    <div>
                        <div class="product-details-box">
                            <div class="product-img">
                                <img class="img-fluid img" [src]="children.image_url" alt="rp1">
                            </div>
                            <div class="product-content">
                                <div class="description d-flex align-items-center justify-content-between">
                                    <div>
                                        <div class="d-flex align-items-center gap-2">
                                            @if(children.mealType === 'veg'){
                                            <img class="img-fluid" src="assets/images/svg/veg.svg" alt="veg">
                                            } @else {
                                            <img class="img-fluid" src="assets/images/svg/nonveg.svg" alt="non-veg">
                                            }
                                            <h6 class="product-name" [ngbScrollSpyFragment]="children.title">
                                                {{children.title}}
                                            </h6>
                                            @if(children.customized){
                                            <h6 class="customized">
                                                Customized
                                            </h6>
                                            }
                                        </div>
                                        <div class="rating-section">
                                            <ngb-rating [rate]="children.rating"></ngb-rating>
                                            <h6 class="rating-amount">1k+ Ratings</h6>
                                        </div>
                                        <p>{{children.description}}</p>
                                    </div>
                                    <div class="product-box-price">
                                        <h2 class="theme-color fw-semibold">${{children.price}}
                                            @if(children.offer_price){
                                            <span>/<del>${{children.offer_price}}</del></span>
                                            }
                                        </h2>
                                        <a class="btn theme-outline add-btn mt-0" (click)="addProduct()">+Add</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    }
                </div>
            </div>
        </div>
    </div>
    }
</div>