@if (type === 'simple') {
<div class="title {{class}}">
    @if(animation){
    <div class="loader-line"></div>
    }
    @if(title){
    <h3>{{title}}</h3>
    }
    @if(subTitle){
    <h6>{{subTitle}}</h6>
    }
</div>
}
@if(type === 'basic') {
<div class="title {{class}}">
    @if(animation){
    <div class="loader-line"></div>
    }
    <h2 class="{{textClass}}">{{title}}</h2>
    <div class="sub-title">
        <p>{{subTitle}}</p>
    </div>
</div>
}
@if(type === 'classic') {
<div class="title animated-title">
    <div class="loader-line"></div>
    <div class="d-flex align-items-center justify-content-between flex-wrap w-100">
        <div>
            <h2>Inform us of Yourself</h2>
            <h6>
                Contact us if you have any queries or merely want to say hi.
            </h6>
        </div>
    </div>
</div>
}